@keyframes moving-animation {
    0%{
   
     transform: translate(-200px);
    }

    100%{
        transform: translate(0px);
    }
}


@keyframes vibrate-animation {
    0%{
   
      top: 23%;

    }
    100%{

    }


    
}

.moving-animation{
    
    animation: moving-animation 3s ease-in-out 0s 1 alternate ;
}

.orange-vibrate{
    animation: vibrate-animation 3s ease-in-out 0s infinite alternate ;
}